.button {
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: #235ED6;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}